#left {
    width: 20%;
    display: inline;
}

#center {
    width: 60%;
}

#right {
    width: 20%;
}

#logo1 {
    max-width: 42px;
    max-height: 42px;
    margin: 6px;
}

#logo2 {
    max-width: 42px;
    max-height: 42px;
    margin: 6px;
}

#title {
    margin: 5px;
}

#spreadsheets {
    margin: 2px;
}

