body {
    margin: 0;
    color: rgb(210, 210, 210);
    background-color: rgb(26, 26, 26);
    background-image: url(images/bg-footer-noise.png);
}

header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}

#left {
    float: left;
    width: 25%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#center {
    float: left;
    width: 50%;
}

#right {
    float: left;
    width: 25%;
}

#logo1 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

#logo2 {
    margin: 10px;
}

#title {
    text-align: center!important;
    text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.9);
}

#spreadsheets {
    float: right;
    margin: 6px;
}

#games_wrapper {
    padding: 8px;
}

#games_filter {
    padding-bottom: 8px
}

#jsneed {
    color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center!important;
    text-shadow: 0px 3px 12px rgba(255, 0, 0, 0.6);
}

table.dataTable thead tr,
table.dataTable tbody tr {
    background-color: rgb(26, 26, 26);
}

table.dataTable tbody tr.odd {
    background-color: rgb(29, 29, 29);
}

table.dataTable.hover tbody tr:hover {
    background-color: rgb(64, 16, 80);
}

table.dataTable thead td,
table.dataTable tbody td,
table.dataTable.row-border tbody td {
    border-top: 1px solid rgb(32, 32, 32);
}

.dataTables_wrapper .dataTables_filter {
    color: rgb(210, 210, 210);
}

.dataTables_wrapper .dataTables_info {
    color: rgb(100, 100, 100);
}

input {
    color: rgb(210, 210, 210);
    border-color: rgb(64, 16, 80);
    background-color: rgb(26, 26, 26);
}

::-webkit-scrollbar {
    background-color: rgb(26, 26, 26);
}

::-webkit-scrollbar-corner {
    background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 42);
}

